html 
    head
        title Главная
        link(rel="stylesheet" href="./dist/style.css")
    body
        div(class="sidenav")
            a(href='sign' style="padding-top: 150px") Вход
            a(href='registration') Регистрация

        div(class="parallax1")
            div(class="caption") 
                span(class="border") Добро пожаловать
        div(style="color: #777; background-color: rgb(223, 217, 217); padding: 50px 80px; text-align: justify") 
            h3(style="text-align: center; font-size: 25px; margin-bottom: 20px") Идея
            p Мы, компания car_share, предоставляем Вам возможность не волноваться о передвижении в городе - наши доступные автомобили первого класса помогут Вам провести сэкономленное время как Вы захотите. Не нужно платить аренду за собственную машину, или бояться незнакомого водителя в такси. Всё просто - заказали, сели, поехали.
        div(class="parallax2")
        div(style="color: #777; background-color: rgb(2, 2, 2); padding: 50px 80px; text-align: justify") 
            h3(style="text-align: center; font-size: 25px; margin-bottom: 20px") О нас
            p Российская компани car_share появилась на рынке в 2021 году. В наш ассортимент входят не только машина категории B, но и мотоциклы, мопеды. Мы сотрудничаем с проверенными компаниями, которые ведут свою работу на рынке более 5 лет. Мы заботимся о Вас, поэтому проверяем нашу продукцию каждый день, а также перед вашим визитом. 
        div(class="parallax3")
        div(style="color: #777; background-color: snow; padding: 50px 80px; text-align: justify") 
            h3(style="text-align: center; font-size: 25px; margin-bottom: 20px")  Для того, чтобы присоединиться к нам всего лишь надо войти в свой аккаунт или зарегистрироваться!